rules-xml/api/src/main/resources/catalog/xsd/xmlcatalog11.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
Copyright (c) The Organization for the Advancement of Structured Information Standards 
[OASIS] 2001, 2002, 2003, 2004, 2005. All Rights Reserved.

OASIS takes no position regarding the validity or scope of any intellectual property or other rights
that might be claimed to pertain to the implementation or use of the technology described in this document
or the extent to which any license under such rights might or might not be available; neither does it
represent that it has made any effort to identify any such rights. Information on OASIS's procedures
with respect to rights in OASIS specifications can be found at the OASIS website. Copies of claims of
rights made available for publication and any assurances of licenses to be made available, or the result
of an attempt made to obtain a general license or permission for the use of such proprietary rights by
implementors or users of this specification, can be obtained from the OASIS Executive Director.

OASIS invites any interested party to bring to its attention any copyrights, patents or patent
applications, or other proprietary rights which may cover technology that may be required to implement
this specification. Please address the information to the OASIS Executive Director.

This document and translations of it may be copied and furnished to others, and derivative works that
comment on or otherwise explain it or assist in its implementation may be prepared, copied, published and
distributed, in whole or in part, without restriction of any kind, provided that the above copyright
notice and this paragraph are included on all such copies and derivative works. However, this document
itself may not be modified in any way, such as by removing the copyright notice or references to OASIS,
except as needed for the purpose of developing OASIS specifications, in which case the procedures for
copyrights defined in the OASIS Intellectual Property Rights document must be followed, or as required to
translate it into languages other than English.

The limited permissions granted above are perpetual and will not be revoked by OASIS or its successors
or assigns.

This document and the information contained herein is provided on an "AS IS" basis and OASIS DISCLAIMS
ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO ANY WARRANTY THAT THE USE OF THE
INFORMATION HEREIN WILL NOT INFRINGE ANY RIGHTS OR ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS
FOR A PARTICULAR PURPOSE.

OASIS has been notified of intellectual property rights claimed in regard to some or all of the contents
of this specification. For more information consult the online list of claimed rights.
 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:er="urn:oasis:names:tc:entity:xmlns:xml:catalog"
           targetNamespace="urn:oasis:names:tc:entity:xmlns:xml:catalog"
           elementFormDefault="qualified">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace"/>

  <xs:simpleType name="pubIdChars">
    <!-- A string of the characters defined as pubIdChar in production 13
         of the Second Edition of the XML 1.0 Recommendation. Does not include
         the whitespace characters because they're normalized by XML parsing. -->
    <xs:restriction base="xs:string">
      <xs:pattern value="[a-zA-Z0-9\-'\(\)+,./:=?;!*#@$_%]*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="publicIdentifier">
    <xs:restriction base="er:pubIdChars"/>
  </xs:simpleType>

  <xs:simpleType name="partialPublicIdentifier">
    <xs:restriction base="er:pubIdChars"/>
  </xs:simpleType>

  <xs:simpleType name="systemOrPublic">
    <xs:restriction base="xs:string">
      <xs:enumeration value="system"/>
      <xs:enumeration value="public"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- The global attribute xml:base is not explicitly declared; -->
  <!-- it is allowed by the anyAttribute declarations. -->

  <xs:complexType name="catalog">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="er:public"/>
      <xs:element ref="er:system"/>
      <xs:element ref="er:uri"/>
      <xs:element ref="er:rewriteSystem"/>
      <xs:element ref="er:rewriteURI"/>
      <xs:element ref="er:uriSuffix"/>
      <xs:element ref="er:systemSuffix"/>
      <xs:element ref="er:delegatePublic"/>
      <xs:element ref="er:delegateSystem"/>
      <xs:element ref="er:delegateURI"/>
      <xs:element ref="er:nextCatalog"/>
      <xs:element ref="er:group"/>
      <xs:any namespace="##other" processContents="skip"/>
    </xs:choice>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="prefer" type="er:systemOrPublic"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>

  <xs:complexType name="public">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="publicId" type="er:publicIdentifier"
                       use="required"/>
        <xs:attribute name="uri" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="system">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="systemId" type="xs:string"
                       use="required"/>
        <xs:attribute name="uri" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uri">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="name" type="xs:anyURI"
                       use="required"/>
        <xs:attribute name="uri" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rewriteSystem">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="systemIdStartString"
                       type="xs:string"
                       use="required"/>
        <xs:attribute name="rewritePrefix" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="rewriteURI">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="uriStartString"
                       type="xs:string"
                       use="required"/>
        <xs:attribute name="rewritePrefix" type="xs:string" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="systemSuffix">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="systemIdSuffix"
                       type="xs:string"
                       use="required"/>
        <xs:attribute name="uri" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uriSuffix">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="uriSuffix"
                       type="xs:string"
                       use="required"/>
        <xs:attribute name="uri" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="delegatePublic">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="publicIdStartString"
                       type="er:partialPublicIdentifier"
                       use="required"/>
        <xs:attribute name="catalog" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="delegateSystem">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="systemIdStartString"
                       type="xs:string"
                       use="required"/>
        <xs:attribute name="catalog" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="delegateURI">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="uriStartString"
                       type="xs:string"
                       use="required"/>
        <xs:attribute name="catalog" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="nextCatalog">
    <xs:complexContent>
      <xs:restriction base="xs:anyType">
        <xs:attribute name="catalog" type="xs:anyURI" use="required"/>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="group">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element ref="er:public"/>
      <xs:element ref="er:system"/>
      <xs:element ref="er:uri"/>
      <xs:element ref="er:rewriteSystem"/>
      <xs:element ref="er:rewriteURI"/>
      <xs:element ref="er:uriSuffix"/>
      <xs:element ref="er:systemSuffix"/>
      <xs:element ref="er:delegatePublic"/>
      <xs:element ref="er:delegateSystem"/>
      <xs:element ref="er:delegateURI"/>
      <xs:element ref="er:nextCatalog"/>
      <xs:any namespace="##other" processContents="skip"/>
    </xs:choice>
    <xs:attribute name="prefer" type="er:systemOrPublic"/>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:complexType>

  <xs:element name="catalog" type="er:catalog"/>
  <xs:element name="public" type="er:public"/>
  <xs:element name="system" type="er:system"/>
  <xs:element name="uri" type="er:uri"/>
  <xs:element name="rewriteSystem" type="er:rewriteSystem"/>
  <xs:element name="rewriteURI" type="er:rewriteURI"/>
  <xs:element name="systemSuffix" type="er:systemSuffix"/>
  <xs:element name="uriSuffix" type="er:uriSuffix"/>
  <xs:element name="delegatePublic" type="er:delegatePublic"/>
  <xs:element name="delegateSystem" type="er:delegateSystem"/>
  <xs:element name="delegateURI" type="er:delegateURI"/>
  <xs:element name="nextCatalog" type="er:nextCatalog"/>
  <xs:element name="group" type="er:group"/>

</xs:schema>

