test_files/windup-regression-test/windup-regression-axis2/resources/META-INF/CalculatorService_schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="http://calculator.jaxws.axis2.apache.org"
           xmlns:tns="http://calculator.jaxws.axis2.apache.org" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ns1="http://www.w3.org/2005/08/addressing">

    <xs:import namespace="http://www.w3.org/2005/08/addressing"
               schemaLocation="http://www.w3.org/2006/03/addressing/ws-addr.xsd"/>

    <xs:element name="AddNumbersException" type="tns:AddNumbersException"/>

    <xs:element name="add" type="tns:add"/>

    <xs:element name="addResponse" type="tns:addResponse"/>

    <xs:element name="getTicket" type="tns:getTicket"/>

    <xs:element name="getTicketResponse" type="tns:getTicketResponse"/>

    <xs:complexType name="getTicket">
        <xs:sequence/>
    </xs:complexType>

    <xs:complexType name="getTicketResponse">
        <xs:sequence>
            <xs:element name="return" type="ns1:EndpointReferenceType" form="qualified" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="add">
        <xs:sequence>
            <xs:element name="value1" type="xs:int" form="qualified"/>
            <xs:element name="value2" type="xs:int" form="qualified"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="addResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int" form="qualified"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AddNumbersException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

